div#sidebar ul,div#sidebar li {
    margin: 0;
    padding: 0;
}
div#sidebar,div#head{
    left: 0px;
    top: 0px;
}
div#sidebar {
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: #343434;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    transition:all 1s;
}

div#head {
    padding: 20px 0 30px;
    text-align: center;
    background-color: #28282E;
    color: #fff;
}

div#avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 2px #fff solid;
    border-radius: 50%;
    overflow: hidden;
    background: url("../../img/skyside.png");
}

p#size_small {
    display: block;
    width: 90%;
    margin: -10px auto 0;
    font-size: 13px;
    font-family: consolas, Microsoft YaHei;
    color: rgba(255, 255, 255, .6);
}

div#body,
div#head,
div#avatar,
i.icon-unfold,
i.icon-fold {
    position: relative;
    transition: all .3s;
}

i.icon-fold.rotate{
    transform: rotate(-180deg);
}


div#body li {
    font-size: 14px;
    color: #888;
    list-style-type: none;
    transition: all 0.3s;
}

ul#nav>li {
    border-bottom: 1px solid rgba(124, 117, 117, .2);
}

#body a {
    padding:12px;
    width:100%;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li.active,
ul#nav li:hover {
    background-color: #FF5E53;
}

#sidebar i {
    color: #fff;
    display: inline-block;
    margin: 0 20px;
}

ul.sublist {
    background-color: rgba(23, 23, 23, .4);
    text-align: center;
    overflow: hidden;
    transition: height 0.3s;
}

ul#tech {
    height: 172px;
}

ul.sublist.hide {
    height: 0 !important;
}
