#container {
    position: relative;
    width: 1130px;
    left: 200px;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s
}
.syntaxhighlighter{
    width: 700px !important;	
}
.syntaxhighlighter .container {
	width: 672px !important;
    overflow: auto !important;
}
#container #title{
	text-align: center;
}
#container h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 18px;
}
#post-info{
	margin-bottom: 30px;
}
#post-info a{
	color: #D93641;
}

#post-info img {
	width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    *display: inline;
    margin: 0 8px 0 0 !important;
    vertical-align: middle;
}

#post-info #time{
	font-size: 14px;
    margin:0 0 30px 15px;
    color: #B3B3B3;
}